__pycache__/
shots/
shot_plots/
single_shot_plots/
Qfaults_GIS/
tectonicplates-master/
.DS_Store
earthquakes_Z/
earthquakes_1/
earthquakes_2/
line_*_per_broadband/
line_*_per_station/
megashot_plots/
